@{
    ViewBag.Title = "Home Page";
}

<br /><br /><br />
<div class="jumbotron">
    <h1>Login</h1>
    <form class="">
        <label>Email</label>
        <input type="email" id="Email" name="Email" class="form-control" maxlength="50" required />
        <label>Password</label>
        <input type="password" id="Password" class="form-control" name="Password" maxlength="50" required />
        <br /><br />
        <input type="submit" value="Login" class="btn btn-primary btn-lg"style="float:right" /><br /><br />

    </form>
</div>